@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:wght@400;500;600;700&family=Uncial+Antiqua&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  font-family: "Rubik";
  font-size: 16px;
}
canvas#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  align-items: center;
}
blockquote,
section {
  border: 1px solid rgb(195, 195, 195);
  padding: auto;
  margin-top: 1em;
  gap: 1.2em;
  background: linear-gradient(
    90deg,
    rgba(247, 242, 246, 0.3) 0%,
    rgba(228, 35, 231, 0.3) 35%,
    rgba(170, 255, 255, 0.3) 100%
  );
  border-radius: 11px;
  font-family: "Rubik";
  display: flex;
  flex-direction: column;
  max-width: 70%;
  align-items: start;
}
blockquote {
  background: linear-gradient(
    90deg,
    rgba(255, 136, 225, 0.3) 0%,
    rgba(72, 195, 211, 0.3) 35%,
    rgba(245, 172, 222, 0.3) 100%
  );
}
blockquote > p {
  margin: 1em 2em;
}
p {
  margin: 0px 2em 1.4em 2em;
}
h2 {
  margin: 1em 1.5em;
}
h3 {
  margin: 5px 20px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  color: white;
  z-index: 1000000;
}
